.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: indigo;
}
.navLink {
  color: white;
}
.navLink:hover {
  font-weight: bold;
  opacity: 0.8;
}
